/* Apply Bootstrap container CSS rules */
.pure-g {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .pure-g {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .pure-g {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .pure-g {
    width: 1170px;
  }
}

.control {
  vertical-align: baseline;
}

.control__center {
  display: inline-block;
  text-align: center;
}

.control__container {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.control__item {
  display: inline-block;
  width: 33.33333%;
  vertical-align: middle;
}

.control__item--center {
  text-align: center;
}

.control__item--left {
  text-align: left;
}

.control__item--right {
  text-align: right;
}

.test {
 position: relative;
}

.test__control {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: green;
}